.weight-card {
  margin: 0px 10px;
  padding: 8px;
}

@media (min-width: 640px) {
  .weight-card {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .weight-card {
    margin: 0;
    padding: 30px;
  }
}