.main-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.content-area {
  flex: auto;
  background-color: #dddddd;
  padding-bottom: 40px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 20px;
  align-items: start;
  margin: 0px 10px 0px 10px;
}

header, footer {
  background-color: #ee5e1f;
  color: #fff;
  text-align: center;
  padding: 10px;
}

header {
  border-bottom: 1px solid #d85218;
}

footer {
  border-top: 1px solid #d85218;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h4 {
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  margin: 2px;
}

.counter-text {
  font-size: 18px;
  color: #454545;
  font-weight: 600;
  margin: 20px;
}

table th {
  background-color: #dddddd;
  color: #454545;
  padding: 6px 0px 6px 0px;
}

table td {
  padding: 4px 0px 4px 0px;
  border-bottom: 1px solid #dddddd;
}

.title {
  color: #454545;
  width: 100%;
  padding: 20px 0px 5px 0px;
}

.card {
  padding: 8px;
  border-radius: 8px;
  background-color: #ebebeb;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.divider {
  margin: 10px 0px 10px 0px;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.10);
}

.weight-table-card {
  margin: 0px 10px 0px 10px;
}

.weight-table {
  padding: 0px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .weight-table {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .grid { 
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .weight-table-card {
    margin: 0;
  }

  .weight-table {
    padding: 20px;
  }
}